<h1>Listing advisors</h1>

<table>
  <thead>
    <tr>
      <th>Advisor</th>
      <th>Name</th>
      <th>Department</th>
      <th>Office location</th>
      <th>Email</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @advisors.each do |advisor| %>
      <tr>
        <td><%= advisor.advisor_id %></td>
        <td><%= advisor.name %></td>
        <td><%= advisor.department %></td>
        <td><%= advisor.office_location %></td>
        <td><%= advisor.email %></td>
        <td><%= advisor.phone %></td>
        <td><%= link_to 'Show', advisor %></td>
        <td><%= link_to 'Edit', edit_advisor_path(advisor) %></td>
        <td><%= link_to 'Destroy', advisor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Advisor', new_advisor_path %>
