<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" xmlns:xhtml="http://www.w3.org/1999/xhtml" lang="en-US"><head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <title>index ::
    LoboAchieve Info | The University of New Mexico</title>

    <head>
      <div id="header">
        <%= render 'navig' %>
        <br><br>
      </div>
    </head>



    <body>
      <div id="page">

        <div id="advisorinfo" class="well well-lg">
          <div style="float: left; width: 310px;">
            <p>
              <strong>Name:</strong>
              <%= @advisor.name %>
            </p>
            <p>
              <strong>Department:</strong>
              <%= @advisor.department %>
            </p>
            <p>
              <strong>Office location:</strong>
              <%= @advisor.office_location %>
            </p>
            <p>
              <strong>Email:</strong>
              <%= @advisor.email %>
            </p>
            <p>
              <strong>Phone:</strong>
              <%= @advisor.phone %>
            </p>
          </div>
          <div style="float: left; width: 460px;">
            <p>
              <strong>Email:</strong>
              <%= @advisor.email %>
            </p>
            <p>
              <strong>Phone:</strong>
              <%= @advisor.phone %>
            </p>
          </div>
          <div style="float: left;">
            <img src="http://www.theboxingobserver.com/wp-content/uploads/2013/07/Rocky-Apollo-Creed-Grandson-Stallone.jpg" width="140px" height="100px" class="rotate90">
          </div>
          <br style="clear: left;" />
        </div>


        <div id="advisor_appts" class="well well-lg" style="float: left;">
          <div id="content">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
              <li class="active"><a href="#advisor" data-toggle="tab">My Available Appts</a></li>
              <li><a href="#appts" data-toggle="tab">Create Available Appts</a></li>
              <li><a href="#upcoming" data-toggle="tab">Upcoming Appts</a></li>
            </ul>
            <div id="my-tab-content" class="tab-content">
              <div class="tab-pane active" id="advisor"></br>
                <div id="advisor">
                <% @advisor.availableappts.each do |appt| %>
                <%= div_for appt do %>
                <p>
                  <strong> <%= appt.date %></strong> <br/>
                  <p>
                    <% end %>
                    <% end %>
                  </div>
                </div>

                <div class="tab-pane" id="appts"><br/>

                  <%= form_for([Availableappt.new]) do |f| %>
                  <p>
                    <%= f.label :body, "Date and Time:" %><br />
                    <%= f.datetime_select :date %><br />
                    <%= f.hidden_field :advisor_id, :value => @advisor.advisor_id %>
                    <%@appts = Availableappt.all%>
                    <%= f.hidden_field :appt_id, :value => @appts.size + 1 %>
                  </p>

                  <p><%= f.submit "Create Available Appointment" %></p>
                  <% end %>

                </form>
              </div>

              <div class="tab-pane" id="upcoming"></br>
                <% @advisor.appointments.each do |appt| %>
                <%= div_for appt do %>
                <p>
                  <%@student = Student.find(appt.student_id)%>
                  <strong> Student: <%= @student.name %></strong> <br/>
                  <%= h(appt.appointment_date) %> <br/>
                  <%= h(appt.notes) %>
                  <p>
                    <% end %>
                    <% end %>
                    </div>

            </div>
            </div>
          </div>

          <div id="advisor_notes" class="well well-lg" style="float: right;">
            <strong>Notes</strong>
            <div id="notes">
              <%@my_students = Array.new %>
              <% @advisor.students.each do |s| %>
              <%= div_for s do %>
              <%@my_students.push(s)%>
              <% end %>
              <% end %>

              <%= form_for([Note.new]) do |f| %>
              <p>
                <% @student_options = @my_students.map{|s| [ s.name, s.student_id ] }%>
                <%= f.select( :student_id, @student_options)%>
                <%= f.hidden_field :advisor_id, :value => @advisor.advisor_id %>
                <%= f.text_area :message %>
              </p>

              <p><%= f.submit "Add Note" %></p>
              <% end %>
            </div>


          </form>
        </div>
      </div>
