<h1>Editing student</h1>

<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%=f.label :body,  "Advisor"%>
  <% @advisor_options = @advisors.map{|s| [ s.name, s.advisor_id ] }%>
  <%= f.select( :advisor_id, @advisor_options)%>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lobo_id %><br>
    <%= f.number_field :lobo_id %>
  </div>
  <div class="field">
    <%= f.label :academic_standing %><br>
    <%= f.text_field :academic_standing %>
  </div>
  <div class="field">
    <%= f.label :gpa %><br>
    <%= f.text_field :gpa %>
  </div>
  <div class="field">
    <%= f.label :expect_grad_date %><br>
    <%= f.date_select :expect_grad_date %>
  </div>
  <%=f.label :body,  "Courseplan"%>
  <% @cplan_options = @cplans.map{|s| [ s.name, s.courseplan_id ] }%>
  <%= f.select( :courseplan_id, @cplan_options)%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
