<p id="notice"><%= notice %></p>

<p>
  <strong>Courseplan:</strong>
  <%= @courseplan.courseplan_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @courseplan.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @courseplan.department %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @courseplan.degree %>
</p>

<p>
  <strong>Academic year:</strong>
  <%= @courseplan.academic_year %>
</p>

<%= link_to 'Edit', edit_courseplan_path(@courseplan) %> |
<%= link_to 'Back', courseplans_path %>
