<h1>Listing notes</h1>

<table>
  <thead>
    <tr>
      <th>Note</th>
      <th>Student</th>
      <th>Advisor</th>
      <th>Message</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.note_id %></td>
        <td><%= note.student_id %></td>
        <td><%= note.advisor_id %></td>
        <td><%= note.message %></td>
        <td><%= link_to 'Show', note %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Note', new_note_path %>
