<%= form_for(@courseplan) do |f| %>
  <% if @courseplan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@courseplan.errors.count, "error") %> prohibited this courseplan from being saved:</h2>

      <ul>
      <% @courseplan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :courseplan_id %><br>
    <%= f.number_field :courseplan_id %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :department %><br>
    <%= f.text_field :department %>
  </div>
  <div class="field">
    <%= f.label :degree %><br>
    <%= f.text_field :degree %>
  </div>
  <div class="field">
    <%= f.label :academic_year %><br>
    <%= f.text_field :academic_year %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
