<h1>Listing courseplans</h1>

<table>
  <thead>
    <tr>
      <th>Courseplan</th>
      <th>Student</th>
      <th>Name</th>
      <th>Department</th>
      <th>Degree</th>
      <th>Academic year</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courseplans.each do |courseplan| %>
      <tr>
        <td><%= courseplan.courseplan_id %></td>
        <td><%= courseplan.student_id %></td>
        <td><%= courseplan.name %></td>
        <td><%= courseplan.department %></td>
        <td><%= courseplan.degree %></td>
        <td><%= courseplan.academic_year %></td>
        <td><%= link_to 'Show', courseplan %></td>
        <td><%= link_to 'Edit', edit_courseplan_path(courseplan) %></td>
        <td><%= link_to 'Destroy', courseplan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Courseplan', new_courseplan_path %>
