<p id="notice"><%= notice %></p>

<p>
  <strong>Courseplan:</strong>
  <%= @courseplan.courseplan_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @courseplan.student_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @courseplan.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @courseplan.department %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @courseplan.degree %>
</p>

<p>
  <strong>Academic year:</strong>
  <%= @courseplan.academic_year %>
</p>

<h2>Required Courses</h2>
<div id="courses">
  <% @courseplan.requiredcourses.each do |course| %>
    <%= div_for course do %>
    <p>
      <strong> <%= course.code %></strong> <br/>
      Name: <%= course.name %> <br/>
      Required Grade: <%= course.required_grade %> <br/>
      Credit Hours: <%= course.credit_hours %> <br/>
      Description: <%= course.description %>
    </p>
  <% end %>
<% end %>
</div>

<%= link_to 'Edit', edit_courseplan_path(@courseplan) %> |
<%= link_to 'Back', courseplans_path %>
