<%= form_for(@requiredcourse) do |f| %>
  <% if @requiredcourse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@requiredcourse.errors.count, "error") %> prohibited this requiredcourse from being saved:</h2>

      <ul>
      <% @requiredcourse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :requiredcourse_id %><br>
    <%= f.number_field :requiredcourse_id %>
  </div>
  <div class="field">
    <%= f.label :courseplan_id %><br>
    <%= f.number_field :courseplan_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :credit_hours %><br>
    <%= f.text_field :credit_hours %>
  </div>
  <div class="field">
    <%= f.label :required_grade %><br>
    <%= f.text_field :required_grade %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
