<p id="notice"><%= notice %></p>

<p>
  <strong>Requiredcourse:</strong>
  <%= @requiredcourse.requiredcourse_id %>
</p>

<p>
  <strong>Courseplan:</strong>
  <%= @requiredcourse.courseplan_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @requiredcourse.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @requiredcourse.code %>
</p>

<p>
  <strong>Credit hours:</strong>
  <%= @requiredcourse.credit_hours %>
</p>

<p>
  <strong>Required grade:</strong>
  <%= @requiredcourse.required_grade %>
</p>

<p>
  <strong>Description:</strong>
  <%= @requiredcourse.description %>
</p>

<%= link_to 'Edit', edit_requiredcourse_path(@requiredcourse) %> |
<%= link_to 'Back', requiredcourses_path %>
