<%= form_for(@availableappt) do |f| %>
  <% if @availableappt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@availableappt.errors.count, "error") %> prohibited this availableappt from being saved:</h2>

      <ul>
      <% @availableappt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appt_id %><br>
    <%= f.number_field :appt_id %>
  </div>
  <div class="field">
    <%= f.label :advisor_id %><br>
    <%= f.number_field :advisor_id %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
