<h1>Listing availableappts</h1>

<table>
  <thead>
    <tr>
      <th>Appt</th>
      <th>Advisor</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @availableappts.each do |availableappt| %>
      <tr>
        <td><%= availableappt.appt_id %></td>
        <td><%= availableappt.advisor_id %></td>
        <td><%= availableappt.date %></td>
        <td><%= link_to 'Show', availableappt %></td>
        <td><%= link_to 'Edit', edit_availableappt_path(availableappt) %></td>
        <td><%= link_to 'Destroy', availableappt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Availableappt', new_availableappt_path %>
