<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :lobo_id %><br>
    <%= f.number_field :lobo_id %>
  </div>
  <div class="field">
    <%= f.label :academic_standing %><br>
    <%= f.text_field :academic_standing %>
  </div>
  <div class="field">
    <%= f.label :gpa %><br>
    <%= f.text_field :gpa %>
  </div>
  <div class="field">
    <%= f.label :expect_grad_date %><br>
    <%= f.date_select :expect_grad_date %>
  </div>
  <div class="field">
    <%= f.label :courseplan_id %><br>
    <%= f.number_field :courseplan_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
