<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @student.student_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Lobo:</strong>
  <%= @student.lobo_id %>
</p>

<p>
  <strong>Academic standing:</strong>
  <%= @student.academic_standing %>
</p>

<p>
  <strong>Gpa:</strong>
  <%= @student.gpa %>
</p>

<p>
  <strong>Expect grad date:</strong>
  <%= @student.expect_grad_date %>
</p>

<p>
  <strong>Courseplan:</strong>
  <%= @student.courseplan_id %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
