<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :appointment_id %><br>
    <%= f.number_field :appointment_id %>
  </div>
  <div class="field">
    <%= f.label :appointment_date %><br>
    <%= f.datetime_select :appointment_date %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :advisor_id %><br>
    <%= f.number_field :advisor_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
