<p id="notice"><%= notice %></p>

<p>
  <strong>Appointment:</strong>
  <%= @appointment.appointment_id %>
</p>

<p>
  <strong>Appointment date:</strong>
  <%= @appointment.appointment_date %>
</p>

<p>
  <strong>Student:</strong>
  <%= @appointment.student_id %>
</p>

<p>
  <strong>Advisor:</strong>
  <%= @appointment.advisor_id %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
