<p id="notice"><%= notice %></p>

<p>
  <strong>Advisor:</strong>
  <%= @advisor.advisor_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @advisor.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @advisor.department %>
</p>

<p>
  <strong>Office location:</strong>
  <%= @advisor.office_location %>
</p>

<p>
  <strong>Email:</strong>
  <%= @advisor.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @advisor.phone %>
</p>

<%= link_to 'Edit', edit_advisor_path(@advisor) %> |
<%= link_to 'Back', advisors_path %>
