<%= render 'navig' %>

<div class="center jumbotron">
  <h1>Lobo Achieve</h1>

  <h2>
    Web Advisement Application
  </h2>

  <%= link_to "Log-in", 'users/sign_in', class: "btn btn-lg btn-primary" %>
</div>
