<p id="notice"><%= notice %></p>

<p>
  <strong>Appt:</strong>
  <%= @availableappt.appt_id %>
</p>

<p>
  <strong>Advisor:</strong>
  <%= @availableappt.advisor_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @availableappt.date %>
</p>

<%= link_to 'Edit', edit_availableappt_path(@availableappt) %> |
<%= link_to 'Back', availableappts_path %>
