<%= form_for(@studentcourse) do |f| %>
  <% if @studentcourse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@studentcourse.errors.count, "error") %> prohibited this studentcourse from being saved:</h2>

      <ul>
      <% @studentcourse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :studentcourse_id %><br>
    <%= f.text_field :studentcourse_id %>
  </div>
  <div class="field">
    <%= f.label :student_id %><br>
    <%= f.number_field :student_id %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.number_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :received_grade %><br>
    <%= f.text_field :received_grade %>
  </div>
  <div class="field">
    <%= f.label :date_completed %><br>
    <%= f.text_field :date_completed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
