<h1>Listing studentcourses</h1>

<table>
  <thead>
    <tr>
      <th>Studentcourse</th>
      <th>Student</th>
      <th>Course</th>
      <th>Received grade</th>
      <th>Date completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @studentcourses.each do |studentcourse| %>
      <tr>
        <td><%= studentcourse.studentcourse_id %></td>
        <td><%= studentcourse.student_id %></td>
        <td><%= studentcourse.course_id %></td>
        <td><%= studentcourse.received_grade %></td>
        <td><%= studentcourse.date_completed %></td>
        <td><%= link_to 'Show', studentcourse %></td>
        <td><%= link_to 'Edit', edit_studentcourse_path(studentcourse) %></td>
        <td><%= link_to 'Destroy', studentcourse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Studentcourse', new_studentcourse_path %>
