<p id="notice"><%= notice %></p>

<p>
  <strong>Studentcourse:</strong>
  <%= @studentcourse.studentcourse_id %>
</p>

<p>
  <strong>Student:</strong>
  <%= @studentcourse.student_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @studentcourse.course_id %>
</p>

<p>
  <strong>Received grade:</strong>
  <%= @studentcourse.received_grade %>
</p>

<p>
  <strong>Date completed:</strong>
  <%= @studentcourse.date_completed %>
</p>

<%= link_to 'Edit', edit_studentcourse_path(@studentcourse) %> |
<%= link_to 'Back', studentcourses_path %>
