<h1>Listing courses</h1>

<table>
  <thead>
    <tr>
      <th>Course</th>
      <th>Student</th>
      <th>Name</th>
      <th>Code</th>
      <th>Credit hours</th>
      <th>Grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.course_id %></td>
        <td><%= course.student_id %></td>
        <td><%= course.name %></td>
        <td><%= course.code %></td>
        <td><%= course.credit_hours %></td>
        <td><%= course.grade %></td>
        <td><%= link_to 'Show', course %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
