<h1>Listing requiredcourses</h1>

<table>
  <thead>
    <tr>
      <th>Requiredcourse</th>
      <th>Courseplan</th>
      <th>Name</th>
      <th>Code</th>
      <th>Credit hours</th>
      <th>Required grade</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requiredcourses.each do |requiredcourse| %>
      <tr>
        <td><%= requiredcourse.requiredcourse_id %></td>
        <td><%= requiredcourse.courseplan_id %></td>
        <td><%= requiredcourse.name %></td>
        <td><%= requiredcourse.code %></td>
        <td><%= requiredcourse.credit_hours %></td>
        <td><%= requiredcourse.required_grade %></td>
        <td><%= requiredcourse.description %></td>
        <td><%= link_to 'Show', requiredcourse %></td>
        <td><%= link_to 'Edit', edit_requiredcourse_path(requiredcourse) %></td>
        <td><%= link_to 'Destroy', requiredcourse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Requiredcourse', new_requiredcourse_path %>
