<%= form_for(@courseplancourse) do |f| %>
  <% if @courseplancourse.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@courseplancourse.errors.count, "error") %> prohibited this courseplancourse from being saved:</h2>

      <ul>
      <% @courseplancourse.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :courseplancourse_id %><br>
    <%= f.number_field :courseplancourse_id %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.number_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :courseplan_id %><br>
    <%= f.number_field :courseplan_id %>
  </div>
  <div class="field">
    <%= f.label :required_grade %><br>
    <%= f.text_field :required_grade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
