<h1>Listing courseplancourses</h1>

<table>
  <thead>
    <tr>
      <th>Courseplancourse</th>
      <th>Course</th>
      <th>Courseplan</th>
      <th>Required grade</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courseplancourses.each do |courseplancourse| %>
      <tr>
        <td><%= courseplancourse.courseplancourse_id %></td>
        <td><%= courseplancourse.course_id %></td>
        <td><%= courseplancourse.courseplan_id %></td>
        <td><%= courseplancourse.required_grade %></td>
        <td><%= link_to 'Show', courseplancourse %></td>
        <td><%= link_to 'Edit', edit_courseplancourse_path(courseplancourse) %></td>
        <td><%= link_to 'Destroy', courseplancourse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Courseplancourse', new_courseplancourse_path %>
