<p id="notice"><%= notice %></p>

<p>
  <strong>Courseplancourse:</strong>
  <%= @courseplancourse.courseplancourse_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @courseplancourse.course_id %>
</p>

<p>
  <strong>Courseplan:</strong>
  <%= @courseplancourse.courseplan_id %>
</p>

<p>
  <strong>Required grade:</strong>
  <%= @courseplancourse.required_grade %>
</p>

<%= link_to 'Edit', edit_courseplancourse_path(@courseplancourse) %> |
<%= link_to 'Back', courseplancourses_path %>
