// Place all the styles related to the advisors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#advisor_appts {
  width: 620px;
}

#advisor_notes {
  width: 320px;
}
