<p id="notice"><%= notice %></p>

<p>
  <strong>Note:</strong>
  <%= @note.note_id %>
</p>

<p>
  <strong>Message:</strong>
  <%= @note.message %>
</p>

<p>
  <strong>Date posted:</strong>
  <%= @note.date_posted %>
</p>

<p>
  <strong>Student:</strong>
  <%= @note.student_id %>
</p>

<p>
  <strong>Advisor:</strong>
  <%= @note.advisor_id %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
