// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#page, #navbar {
  width: 960px;
  margin: 0px auto;
  margin-top: 0px;
  margin-right-value: auto;
  margin-bottom: 0px;
  margin-left-value: auto;
  margin-left-ltr-source: physical;
  margin-left-rtl-source: physical;
  margin-right-ltr-source: physical;
  margin-right-rtl-source: physical;
}

#appointments, #courseplan, #notes, #courses {
  width: 470px;
}


course-match {
  color: green;
}

course-mismatch {
  color: red;
}
