<h1>Listing students</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Advisor</th>
      <th>Name</th>
      <th>Lobo</th>
      <th>Academic standing</th>
      <th>Gpa</th>
      <th>Expect grad date</th>
      <th>Courseplan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.student_id %></td>
        <td><%= student.advisor_id %></td>
        <td><%= student.name %></td>
        <td><%= student.lobo_id %></td>
        <td><%= student.academic_standing %></td>
        <td><%= student.gpa %></td>
        <td><%= student.expect_grad_date %></td>
        <td><%= student.courseplan_id %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
