
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" xmlns:xhtml="http://www.w3.org/1999/xhtml" lang="en-US"><head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
  <title>index ::
    LoboAchieve Info | The University of New Mexico</title>

    <head>
      <div id="header">
        <%= render 'navig' %>
        <br><br>
      </div>
    </head>


    <body>
      <div id="page">

        <div id="studentinfo" class="well well-lg">
          <div style="float: left; width: 310px;">
            <p>
              <strong>Name:</strong>
              <%= @student.name %>
            </p>
            <p>
              <strong>Lobo ID:</strong>
              <%= @student.lobo_id %>
            </p>
            <p>
              <strong>Phone:</strong>
            </p>
            <p>
              <strong>Email:</strong>
            </p>
          </div>
          <div style="float: left; width: 460px;">
            <p>
              <strong>Academic standing:</strong>
              <%= @student.academic_standing %>
            </p>
            <p>
              <strong>GPA:</strong>
              <%= @student.gpa %>
            </p>
            <p>
              <strong>Expect grad date:</strong>
              <%= @student.expect_grad_date %>
            </p>

            <p>
              <strong>Courseplan:</strong>
              <%@courseplan = Courseplan.find(@student.courseplan_id)%>
              <%= @courseplan.name %>
            </p>
          </div>
          <div style="float: left;">
            <img src="http://www.theboxingobserver.com/wp-content/uploads/2013/07/Rocky-Apollo-Creed-Grandson-Stallone.jpg" width="140px" height="100px" class="rotate90">
          </div>
          <br style="clear: left;" />
        </div>


        <div id="appointments" class="well well-lg" style="float: left;">
          <div id="content">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
              <li class="active"><a href="#schedule" data-toggle="tab">Schedule an Appointment</a></li>
              <li><a href="#upcoming" data-toggle="tab">Upcoming Appointments</a></li>
            </ul>
            <div id="my-tab-content" class="tab-content">
              <div class="tab-pane active" id="schedule">
                <div id="advisor">
                  <p>
                    <%@advisor = Advisor.find(@student.advisor_id)%><br/>
                    <strong>My Advisor: </strong><%= @advisor.name %><br/>
                    <%= @advisor.email %>
                  </p>

                  <%@my_appts = Array.new %>
                  <%@advisor = Advisor.find(@student.advisor_id)%>
                  <% @advisor.availableappts.each do |s| %>
                  <%= div_for s do %>
                  <%@my_appts.push(s.date)%>
                  <% end %>
                  <% end %>

                  <%= form_for([@student, Appointment.new]) do |f| %>
                  <p>
                    <%= f.label :body, "Available Appointments:" %><br />
                    <%= f.select( :appointment_date, @my_appts)%><br />
                    <%= f.label :body, "Notes:" %><br />
                    <%= f.text_area :notes %>
                    <%@advisor = Advisor.find(@student.advisor_id)%>
                    <%= f.hidden_field :advisor_id, :value => @advisor.advisor_id %>
                  </p>
                  <p><%= f.submit "Make Appointment" %></p>
                  <% end %>
                </form>

              </div>
            </div>
            <div class="tab-pane" id="upcoming"><br/>
              <strong>Upcoming Appointments:</strong>
              
              <% @student.appointments.each do |appt| %>
              <%= div_for appt do %>
              <p>
                <%@advisor = Advisor.find(appt.advisor_id)%>
                <strong> With: <%= @advisor.name %></strong> <br/>
                <strong> <%= appt.appointment_date %></strong> <br/>
                <%= h(appt.notes) %>
                <p>
                  <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>


          <div id="courseplan" class="well well-lg" style="float: right;">

            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
              <li class="active"><a href="#degreeplan" data-toggle="tab">Degree Plan</a></li>
              <li><a href="#mycourses" data-toggle="tab">My Courses</a></li>
            </ul>
            <div id="my-tab-content" class="tab-content">
              <div class="tab-pane active" id="degreeplan">

            <p>
              <%@cplan = Courseplan.find(@student.courseplan_id)%>
              <br/>
              <strong> <%= @cplan.name %></strong> <br/>
              Department: <%= @cplan.department %> <br/>
              Degree: <%= @cplan.degree %> <br/>
              Academic Year: <%= @cplan.academic_year %>
            </p>
            <% @cplan.requiredcourses.each do |course| %>
            <%= div_for course do %>
            <p>
              <%@studentcourse = @student.courses.find_by code: course.code%>
              <%if (@studentcourse != nil) then%>
              <course-match> <%= course.code %></course-match> <br/>
              <%else%>
              <course-mismatch><%= course.code %></course-mismatch><br/>
              <%end%>

              Name: <%= course.name %> <br/>
              Required Grade: <%= course.required_grade %> <br/>
              Credit Hours: <%= course.credit_hours %> <br/>
              Description: <%= course.description %> <br/>
              <%if (@studentcourse != nil) then%>
                Grade: <%= @studentcourse.grade %>
              <%end%>
            </p>
            <% end %>
            <% end %>
          </p>
        </div>


        <div class="tab-pane" id="mycourses"><br/>
          <% @student.courses.each do |course| %>
          <%= div_for course do %>
          <p>
            <strong> <%= course.code %></strong> <br/>
            Grade Received: <%= course.grade %> <br/>
            Credit Hours: <%= course.credit_hours %>
          </p>
          <% end %>
          <% end %>
        </div>
      </div>

      </div>

      </br></br></br></br></br></br></br>
    </br></br></br></br></br></br></br></br>

    <div id="notes" class="well well-lg">
      <strong>Notes</strong>
      <% @student.notes.each do |note| %>
      <%= div_for note do %>
      <p>
        <%@advisor = Advisor.find(note.advisor_id)%>
        <strong> From: <%=  @advisor.name %></strong> <br/>
        <%= h(note.message) %> <br/>
        Posted <%= time_ago_in_words(note.created_at) %>
      </p>
      <% end %>
      <% end %>
    </div>



  </form>
</div>

</div>

<!-- <%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
-->

</body>
</html>
